:root {
  --header-btn-color: #BBF330;
}

body {
  font-family: "Roboto", sans-serif;
  background: #f5f5f5;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  width: 1280px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/*! ==== Only Global Above ==== */

/* hero styles */
.hero {
  padding-top: 14px;
  padding-bottom: 16px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.text-wrap {
  max-width: 511px;
}

.hero-title {
  margin-bottom: 28px;
}

.hero-text {
  margin-bottom: 40px;
}

.hero-button {}

/** Header CSS Serhii */
.header {

}

.container-header {
  display: flex;
  align-items: center;
}

.logo {}

.navigation {

  
}

.navigation-list {
  display: inline-flex;
  gap: 28px;
  margin: 0;
  list-style: none;
  border-radius: 4px;
  padding-left: 400px;
  
}

.list {}

.navigation-item {
 margin-right: 28px; 
}

.navigation-link span {
  color: #BBF330;
  text-decoration-line: underline;
}

.link {}

.header-btn {
justify-content: space-between;
text-align: right;
background: var(--header-btn-color);
gap: 16px;
border-radius: 30px;
}
